html,body {
	margin: 0;
	padding: 0;
	height: 100%; 
	width: 100%;
	min-width: 960px;
	float:left;
	background-image:url('images/achtergrond.jpg');
	font-family:  'Cardo', serif;
	font-size:15px;
	
	
}

#title-bar{
	position: absolute;
	height: 80px;
	width: 100%;
	background-color: black;
	color: white;
	text-decoration:blink;
	
}


.titlecenter{
	text-align: center;
	text-decoration: blink;
	}
#logo{
margin-left:1%;
margin-top: -5.7%;
}
#contentbox{
		margin-top: 15%;
		color: black;
		position: absolute;
		margin-left: 15%;
		margin-right: 10%;
		opacity: 0.8;
		background-color: #FFFFFF;
		width: 70%;

		
}
#content{
	margin-left: 10%;
	margin-right: 5%;
	opacity: 1;
}
#subscription{
word-spacing: 200px;
text-decoration: none;
}
.body {
width: 70%;
margin: 0 auto;
clear: both;
}
#sidebar-left{
margin-left:0.5%;
margin-top: 25%;
}
#sidebar-left ul {
 margin: 0;
 padding: 0;
 list-style: none;
 width: 125px;
 border-bottom: 1px solid #000000;
 }
 #sidebar-left ul li {
 position: relative;
 }
 #sidebar-left li ul {
 position: absolute;
 left: 124px;
 top: 0;
 display: none;
 }
#sidebar-left ul li a {
 display: block;
 text-decoration: none;
 color: white ;
 background: black  ;
 padding: 5px;
 border: 1px solid #000000 ;
 border-bottom: 0;
 }
 #sidebar-left li:hover ul { 
display: block; }
#sidebar-left ul li a:hover {
background: #C46B5D;
}
#titlepage{
margin-top: 8.5%;

margin-left: 60%;
margin-right: 30%;
}
#footer{
margin-top:50%;
width:100%;
background-color:black;
text-align:center;
height:20px;
position:fixed;
color:white;
bottom:0;
}
